@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "DM Mono", "SF Mono", ui-monospace, monospace;

  /* Primary (background, buttons, borders) */
  --color-primary: var(--color-cyan-800);
  --color-primary-light: var(--color-cyan-700);
  --color-primary-dark: var(--color-cyan-950);
  /* Brand (to replace primary latter) */
  --color-ocean-50: #f1f4f7;
  --color-ocean-100: #dbe7ee;
  --color-ocean-200: #b1d4e2;
  --color-ocean-300: #8ebecb;
  --color-ocean-400: #78a8b1;
  --color-ocean-500: #5f9196;
  --color-ocean-600: #517379;
  --color-ocean-700: #3d545a;
  --color-ocean-800: #2b393f;
  --color-ocean-900: #171f22;
  --color-ocean-950: #0f1417;
  /* Text  */
  --color-text: var(--color-sky-50);
  --color-text-muted: var(--color-sky-200);
  --color-text-heading: var(--color-sky-600);
  /* Accent (links) */
  --color-accent: var(--color-rose-700);
  --color-accent-light: var(--color-rose-500);
  --color-accent-dark: var(--color-rose-900);

  /* Layout */
  /* --width-layout: clamp(300px,88%,80rem); */
  --width-text: clamp(43ch, 100%, 75ch);
}

@layer base {
  body {
    @apply relative isolate min-h-screen font-display bg-primary-dark text-text antialiased;
  }

  /* body::before {
    content: "";
    @apply pointer-events-none fixed inset-0 z-[-1];
    background:
      linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size:100% 16px, 3px 100%;
  } */

  h1 { @apply font-extrabold tracking-wider leading-tight text-[2.5em] mb-0; } /* Title - Name */
  h2 { @apply font-medium text-[1.75em] tracking-wider leading-tight mb-5 mt-0 text-text/65; } /* Subtitle - Role */
  h3 { @apply font-medium text-2xl mb-3 mt-10 tracking-wide; } /* Section Names */
  h4 { @apply font-bold text-lg tracking-wide; } /* Article Titles */
  h5 { @apply font-medium text-lg mb-2 text-text/60 ; } /* Article Subtitles */
  p { @apply font-normal text-base text-text/80 text-justify; }
  strong { @apply font-semibold text-base mb-6; }
}


/* COLOR SHEET: https://tailwindcss.com/docs/customizing-colors */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/*

#hero-section h1 {
  font-weight: bolder;
  font-size: 4em;
  margin: 2rem 0;
}

#hero-section p {
  margin: 1.5rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
  color: var(--primary);
  background-color: var(--complementarySkew);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/* C. NOT FOUND PAGE */
/*
.notFoundWrapper {
  margin: 4rem 0;
  text-align: center;
}

.notFoundCover img {
  display: block;
  max-width: 600px;
  margin: auto;
} */

/* D. ACCORDION COMPONENT */
/* YOUR CSS HERE :) */
