@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "DM Mono", "SF Mono", ui-monospace, monospace;

  /* Primary (background, buttons, borders) */
  --color-primary: var(--color-cyan-800);
  --color-primary-light: var(--color-cyan-700);
  --color-primary-bg: #031d2a;
  /* Text  */
  --color-text: var(--color-cyan-50);
  /* Accent (links) */
  --color-accent: var(--color-rose-700);
  --color-accent-light: var(--color-rose-500);
  --color-accent-dark: var(--color-rose-900);

  /* Layout */
  /* --width-layout: clamp(300px,88%,80rem); */
  --width-text: clamp(43ch, 100%, 75ch);
}

@layer base {
  body {
    @apply relative min-h-screen font-display bg-primary-bg text-text antialiased;
  }

  body::before {
    content: "";
    @apply pointer-events-none fixed inset-0 z-[-1] mix-blend-color opacity-10;
    background-image: linear-gradient(
      90deg,
      #8E5FBF 0%,
      #C4B2E4 2%,
      #8E5FBF 4%,
      #C4B2E4 6%,
      transparent 10%,
      transparent 90%,
      #C4B2E4 94%,
      #8E5FBF 96%,
      #C4B2E4 98%,
      #8E5FBF 100%
    );
  }

  body::after {
    content: "";
    @apply pointer-events-none fixed inset-0 z-2 mix-blend-soft-light opacity-5;

    /* Texture PNG */
    background-image: url('/pattern.webp');
    background-repeat: repeat;
    background-size: 500px 395px;
  }

  h1 { @apply font-extrabold text-[2.5em] text-text/95 tracking-wider leading-tight  mb-0; } /* Title - Name */
  h2 { @apply font-medium text-[1.75em]  text-text/75 tracking-wider leading-tight mb-5 mt-0; } /* Subtitle - Role */
  h3 { @apply font-medium text-2xl text-text/95 mb-3 mt-10 tracking-wide; } /* Section Names */
  h4 { @apply font-bold text-lg text-text/95 tracking-wide; } /* Article Titles */
  h5 { @apply font-medium text-lg  text-text/65 mb-2; } /* Article Subtitles */
  p { @apply font-normal text-base text-text/90 text-justify; }
  strong { @apply font-semibold text-base mb-6; }
  a { @apply text-text }
}


/* COLOR SHEET: https://tailwindcss.com/docs/customizing-colors */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
